<div class="col-12 col-md-6">
    {{ form_row(hookable_data.form.menuTaxon, {'search_url': path('sylius_admin_ajax_taxon_by_name_phrase'), 'init_load_url': path('sylius_admin_ajax_taxon_by_code')}|merge(sylius_test_form_attribute('menu-taxon'))) }}
</div>
